/* Getting rid of the default link styles here */
 .navbar li a {
    color: #0005;
    text-decoration: none;
  }

  body {
      background-color: lightblue;
  }
.logo {
    font-weight: bold;
    background-color: gray
    color: white;
    font-size: 30px;
    font-style: normal;
}
h1 {
    color: gray;
    font-weight: bold;
    font-size: 35px;
}

h2 {
    color: gray;
    font-weight: bold;
    font-size: 30px;
}

h3 {
    color: gray;
    font-weight: bold;
    font-size: 25px;
    margin-right: 10%;
}

.col-sm-12 {
    margin-left: 10%;
}
